.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 200px;
    width: 30vw;
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}
.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-from__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;
}

.btn {
    margin-top: 15px;
}
.delete-btn {
    margin-top: 10px;
    background-color: #FF9A97FF;
}

.delete-btn:hover {
    background: #FF7E7AFF;
}