@import url(./main.css);

.header__container {
    display: flex;
}

.header {
    width: 100%;
    min-height: 92px;
    height: var(--header-height);
    background-color: var(--main-bg-color);
    box-shadow: 0 0 5px var(--main-border-color);
}

.header_inner {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 25px 0 0 0;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    /* border-radius: 20px; */
    margin-left: auto;
    min-width: 50%;
    margin-right: auto;
    min-height: 60px;
}

.auth-link {
    padding: 0 5px;
}

.menu-list {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 24px;
}

.auth-container {
    display: flex;
    right: 0;
    align-items: center;
    position: absolute;
}

.menu-list__item-a {
    text-decoration: line-through;
    transition: all .1s ease-in-out;
    border-bottom: 2px solid transparent;
}

.menu-list__item-a:hover {
    border-bottom: 2px solid black;
}

.work { 
    text-decoration: none;
}