#app {
    height: inherit;
}
  .main {
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: center;
  }
  
  .login {
      display: flex;
      flex-direction: column;
      min-width: 20%;
      height: 300px;
      margin: auto 0;
      background-color: var(--main-bg-color);
      border: 1px solid var(--main-border-color);
      border-radius: 20px;
      align-items: center;
  }
  
  .reg-label {
      margin: 20px auto 0;
      font-size: 26px;
  }
  
  input {
      min-width: 200px;
      min-height: 27px;
      border: 1px solid var(--main-border-color);
      border-radius: 7px;
      padding-left: 3px;
  }
  
  .reg-form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .input-field {
      display: flex;
      flex-direction: column;
      margin: 15px 0 0 0;
      gap: 5px;
      font-size: 19px;
  }
  
  .btn {
      margin-top: 30px;
      min-height: 27px;
      min-width: 200px;
      border: 1px solid var(--main-border-color);
      border-radius: 7px;
      background-color: #fff;
      font-family: var(--main-font-family);
      font-size: 16px;
  }
  
  .btn:hover {
      background-color: #ebebeb;
  }

  .loginError {
    margin: auto 0;
    padding: 3px;
    background-color: #F6CA97;
    border: 1px solid #F6B264;
    border-radius: 5px;
  }