:root {
    --main-bg-color: #EDEDEDFF;
    --main-border-color: #ADB5BD;
    --main-font-family: 'Jost', sans-serif;
    --temporary-bg-color: #F7F7F7FF;
    --header-height: 12vh;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: var(--main-font-family);
}

.wrapper {
    height: 100%;
    width: 100%;
}
  
ul {
    list-style-type: none;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

input {
    min-width: 200px;
    min-height: 27px;
    border: 1px solid var(--main-border-color);
    border-radius: 7px;
    padding-left: 3px;
}

#app {
    height: inherit;
}

.btn {
    margin-top: 30px;
    min-height: 27px;
    min-width: 200px;
    border: 1px solid var(--main-border-color);
    border-radius: 7px;
    background-color: #fff;
    font-family: var(--main-font-family);
    font-size: 16px;
}