:root {
    --main-bg-color: #EDEDEDFF;
    --main-border-color: #ADB5BD;
    --main-font-family: 'Jost', sans-serif;
    --temporary-bg-color: #F7F7F7FF;
    --header-height: 10vh;
    --hover-border-color: #EDEDEDFF;
    --hover-bg-color: #ADB5BD;
    --border-bottom: 1px solid var(--main-border-color);
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: var(--main-font-family);
}

.wrapper {
    height: 100%;
    width: 100%;
}
  
ul {
    list-style-type: none;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

input {
    min-width: 200px;
    min-height: 27px;
    border: 0;
    background-color: var(--main-bg-color);
    border-bottom: var(--border-bottom);
    font-size: 1.1rem;
    padding-left: 3px;
    font-family: var(--main-font-family);
    transition: all .3s;
}

input[type=text]:focus, 
input[type=textarea]:focus,
input[type=password]:focus {
    outline: none;
    border-bottom: 1px solid black;
}

#app {
    height: inherit;
}

.btn {
    min-height: 27px;
    min-width: 200px;
    border: 0;
    border-bottom: 1px solid transparent;
    background-color: #f8f8f8;
    font-family: var(--main-font-family);
    font-size: 16px;
    /* box-shadow: 0 1px 1px var(--main-border-color); */
    transition: all .1s;
}

.btn:hover {
    background-color: #ebebeb;
    cursor: pointer;
    border-bottom: var(--border-bottom);
    /* box-shadow: inset 0 1px 1px var(--main-border-color); */
    transform: translateY(1px);
}